<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Car</title>
  <style>table th, table td {padding: 10px;}</style>
</head>

<body>
<h1>Table of CARS</h1>

<table>
  <tr>
    <th>Model</th>
    <th>Country</th>
    <th>Year</th>
  </tr>

  <tr th:each="car : ${listOfCars}">
    <td th:text="${car.model}">Model</td>
    <td th:text="${car.manufacturingСountry}">Manufacturing Country</td>
    <td th:text="${car.yearOfRealease}">Year Of Release</td>
  </tr>

</table>

</body>

</html>